<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ note.title }}</title>
    <meta name="author" content="{{ note.author }}">
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/diffview.css"/>
    <style type="text/css">
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    </style>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
    tex2jax: {
	inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	processEscapes: true
    }
});

    </script>
    <script type="text/javascript"
	    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript" src="/assets/js/diff/diffview.js"></script>
    <script src="/assets/js/diff/jsdiff.js"></script>
    <script src="/assets/js/diff/difflib.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">
      var orig_pars = new Array(); //Holds unchanged text for diff and cancel
      $(document).ready(function() {
        {% for par in note.paragraph_set.all %}
        $("#form_{{ par.id }}").ajaxForm();
        orig_pars[{{par.id}}] =  $("#form_"+{{ par.id }}).find("textarea").val();
        {% endfor %}
      });
    </script>
    <script src="/assets/js/detail.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <ul class='nav'>
	    <li>
	      <a class="brand" href="http://code.google.com/p/botan/"> Brain Overflow</a>
	    </li>
	    <li>
	      <ul class="breadcrumb">
		<li><a href = "/notes/">Notes</a><span class="divider">/</span></li>
		<li>
		  <a href = "/notes/{{ note.id }}">{{ note.title }}</a>
		  <span class="divider">/</span>
		</li>
	    </li>
	    </ul>
	</div>
      </div>
    </div>


    <div class="container" id="main">
      <div class="row">
	<div align="center" class="span12">
	  <h1>{{ note.title }}</h1>
	</div>
      </div>
      {% for paragraph in note.paragraph_set.all %}
      <div class="row" data-par-id="{{ paragraph.id }}">
	<div class="row">
	  <h3>{{ paragraph.title }}</h3>
	  <div class="tabbable" id="tabbable_{{ paragraph.id}}">
	    <ul class="nav nav-tabs" data-par-id="{{ paragraph.id }}">
	      <li class="active link_view"><a href="#view_{{ paragraph.id }}"
					      data-toggle="tab">View</a></li>
	      <li class="link_edit"><a class="link_edit",
				       href="#edit_{{ paragraph.id }}" data-toggle="tab">Edit</a></li>
	      <li><a class="link_compare",
		     href="#tab_compare_{{ paragraph.id }}" data-toggle="tab">Compare & Commit || Reset</a></li>
	    </ul>
	    <div class="tab-content">
	      <div class="tab-pane active" id="view_{{ paragraph.id }}">
		{{ paragraph.rendered|safe }}
		<img id="image_{{ paragraph.id }}" src="" width="940px">
	      </div>
	      <div class="tab-pane" id="edit_{{ paragraph.id }}">
		<form id="form_{{ paragraph.id }}" class="form-horizontal span12"
		      action="/notes/{{ note.id }}/{{ paragraph.id }}/commit/" method="post">
		  {% csrf_token %}
		  <div class="row">
		    <div class="span6" id="title_{{ paragraph.id }}">&nbsp</div>
		    <input class="span6" type="text" name="title" value="{{ paragraph.title }}">
		  </div>
		  <div class="row">
		    <div class="span6" id="preview_{{ paragraph.id }}">&nbsp</div>
   		    <textarea class="span6" name="text">{{ paragraph.text }}</textarea>
		  </div>
		</form>
	      </div>
	      <div class="tab-pane" id="tab_compare_{{ paragraph.id }}">
		<div class="row well form-inline span12">
		  <button class="btn btn_reset" onclick="ResetEdit('{{ paragraph.id }}')">Reset edit</button>
		  <button class="btn btn_commit" onclick="Commit('{{ paragraph.id }}')">Commit</button>
		</div>
		<div class="row span12" id="compare_{{ paragraph.id }}"></div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      {% endfor %}
      <div class="row" data-par-id="add">
	<div class="row">
	  <h3>Add New</h3>
	  <div class="tabbable" id="tabbable_add">
	    <ul class="nav nav-tabs" data-par-id="add">
	      <li class="active link_edit"><a class="link_edit",
					      href="#edit_add" data-toggle="tab">Edit</a></li>
	      <li><a class="link_compare",
		     href="#tab_compare_add" data-toggle="tab">Commit || Reset</a></li>
	    </ul>
	    <div class="tab-content">
	      <div class="tab-pane active" id="edit_add">
		<form id="form_add" class="form-horizontal span12"
		      action="/notes/{{ note.id }}/add/" method="post">
		  {% csrf_token %}
		  <div class="row">
		    <div class="span6" id="title_add">&nbsp</div>
		    <input class="span6" type="text" name="title" placeholder="Title">
		  </div>
		  <div class="row">
		    <div class="span6" id="preview_add">&nbsp</div>
   		    <textarea class="span6" name="text" placeholder="Body"></textarea>
		  </div>
		</form>
	      </div>
	      <div class="tab-pane" id="tab_compare_add">
		<div class="row well form-inline">
		  <button class="btn btn_reset" onclick="ResetEdit('add')">Reset edit</button>
		  <button class="btn btn_commit" onclick="Commit('add')">Commit</button>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>

      <footer>
	<p>&copy; {{ note.author}}</p>
      </footer>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.3/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.autogrow-textarea.js"></script>
    <script type='text/javascript'>
      $(function() {$('textarea').autogrow();});
    </script>
    <script src="/assets/js/creole.js"></script>
  </body>
</html>
